body{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 33px;
width: 100%;
margin: 0px;
}
.anchor{
    margin-top: 50px;
    font-size: 25px;
    width: 25%;
}